<%= form_with url: flights_path, method: :get do |form| %>
    <%= form.label :departure_airport, "Depature Airport" %>
    <%= form.select(:departure_airport, @airport_options) %>
    <%= form.label :arrival_airport, "Arrival airport" %>
    <%= form.select(:arrival_airport, @airport_options) %>
    <%= form.label :passengers, "Number of Passengers" %>
    <%= form.select(:passengers, @passengers) %>
    <%= form.select :date, @flight_dates%> 
    <%= form.submit "Search" %>
<% end %>

<% if @selected_flights %>
    <% if @selected_flights.any?%>
        <%= form_with url: root_path, method: :get do |form| %>
            <% @selected_flights.includes(:departure_airport).includes(:arrival_airport).each do |flight| %>
                <%= form.label :"flight_#{flight.id}", "Flight #{flight.id}, from #{flight.departure_airport.code} to #{flight.arrival_airport.code}" %>
                <%= form.radio_button :flight, flight.id %>
            <% end %>
            <%= form.hidden_field :passenger, value: @passenger_number%>
            <%= form.submit "Send"%>
        <% end %>
    <% else %>
        <h2>No flight available search again</h2>
    <% end %>
<% end%>