<% stylesheet_link_tag "booking-new"%>
<div class="main-content", data-controller="change-passenger", data-change-passenger-count-value="<%= @passenger_amount %>" >
    <div class="flight-info">
        <div> Departure Airport: <%= @flight.departure_airport.code %></div>
        <div> Arrival Airport: <%= @flight.arrival_airport.code %>  </div>
        <div>Departure date: <%= @flight.start_time_formatted %></div>
        <div>Number of passenger: <span data-change-passenger-target="passenger"><%= @passenger_amount%></span></div>
    </div>
    
    <div class="passenger-form"> 
        <%= form_with model: @booking do |form| %>

            <%= form.hidden_field :passenger_amount, value: @passenger_amount, :"data-change-passenger-target" => "amount"%>


            <div data-change-passenger-target="output"> 
                <%= form.fields_for :passengers do |sub_form|%>
                    <div data-change-passenger-target="node">
                        <%= render 'passengers', sub_form: sub_form, flight: @flight%>
                    </div>
                <% end %>
            </div>

            <div>
                <template data-change-passenger-target="template">
                     <%= form.fields_for :passengers, @booking.passengers.build do |sub_form|%>
                        <div data-change-passenger-target="node">
                            <%= render 'passengers', sub_form: sub_form, flight: @flight%>
                        </div>
                    <% end %>
                </template>
            </div>


            <%= form.submit "Create"%>
            <%= button_tag "Add Passenger",type: 'button', data: {action: 'click->change-passenger#addPassenger:once'} %>
            <%= button_tag "remove Passenger",type: 'button', data: {action: 'click->change-passenger#removePassenger'} %>
        <% end %>
    </div>
</div>

<%= link_to "Home", root_path%>