<% stylesheet_link_tag "booking-new"%>
<div class="main-content">
    <div class="flight-info">
        <div> Departure Airport: <%= @flight.departure_airport.code %></div>
        <div> Arrival Airport: <%= @flight.arrival_airport.code %>  </div>
        <div>Departure date: <%= @flight.start_time_formatted %></div>
        <div>Number of passenger: <%= @passenger_amount%></div>
    </div>
    
    <div class="passenger-form"> <span>Add passenger information</span>
        <%= form_with model: @booking, data: {controller: 'change-passenger'} do |form| %>
            <%= form.hidden_field :passenger_amount, value: @passenger_amount%>
            <%= form.fields_for :passengers do |sub_form|%>
                
                <%= render 'passengers', sub_form: sub_form, flight: @flight%>
                <template data-change-passenger-target="template">
                    
                    <%= render 'passengers', sub_form: sub_form, flight: @flight%>
                </template>
            
            <% end %>
            <%= form.submit "Create"%>
            <%= button_tag 'Add Passenger', type: 'button', data: {action: 'click->change-passenger#addPassenger'} %>
        <% end %>
    </div>
</div>