<div>Departure Airport: <%= @flight.departure_airport.code %></div>
<div>Arrival Airport: <%= @flight.arrival_airport.code %></div>
<div>Flight Day: <%= @flight.start_time_formatted %></div>
<div>Passengers Booked: <%= @booking.passengers.count %></div>
<h2>Passengers information</h2>
<% @booking.passengers.each do |passenger| %>
 <div>Name: <%= passenger.name%></div>
 <div>Email: <%= passenger.email%></div>
<% end %>
<%= link_to "Home", root_path%>